rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /items/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null
        && request.auth.uid == userId
        && request.auth.token.firebase.sign_in_provider != 'anonymous';
    }
    match /chat/{userId}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
        && request.auth.uid == userId
        && request.auth.token.firebase.sign_in_provider != 'anonymous';
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
